main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    padding: .5vw;
}

img {
    width: 250px;
  }

.favorite {
    background-color: rebeccapurple;
}

article > div {
    display: flex;
    justify-content: space-between;
}

.click {
    background-color: rgb(2, 179, 179);
    padding: 3px 8px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}